---
layout: default
---
<div class="poster">
  
  <div class="header">
    <h1>{{ page.heading }}</h1>
  </div><!-- .header -->
  
  <div class="content">
    
    <div class="block weather">
      <div id="weather"></div>
    </div><!-- .block .weather -->

    <div class="block events">
      <div id="events"></div>
    </div><!-- .block .events -->

    <div class="block news">
      <div id="news"></div>
    </div><!-- .block .news -->
    
  </div><!-- .content -->
  
</div><!-- .poster -->