---
layout: default
---
<div class="poster">

  <div class="region header">
    <h1>{{ page.heading }}</h1>
  </div><!-- .region .header -->

  <div class="content">

    <div class="region weather">
      <div class="block">
        <div class="block-header">
          <h2><i class="fa fa-sun-o"></i> Weather</h2>
        </div><!-- .block-header -->
        <div class="block-content">
          <div id="weather-content"></div>
        </div><!-- .block-content -->
      </div><!-- .block -->
    </div><!-- .region .weather -->

    <div class="region events">
      <div class="block">
        <div class="block-header">
          <h2><i class="fa fa-calendar"></i> Events</h2>
        </div><!-- .block-header -->
        <div class="block-content">
          <div id="events-content"></div>
        </div><!-- .block-content -->
      </div><!-- .block -->
    </div><!-- .region .events -->

    <div class="region news">
      <div class="block">
        <div class="block-header">
          <h2><i class="fa fa-newspaper-o"></i> News</h2>
        </div><!-- .block-header -->
        <div class="block-content">
          <div id="news-content"></div>
        </div><!-- .block-content -->
      </div><!-- .block -->
    </div><!-- .region .news -->

  </div><!-- .content -->

</div><!-- .poster -->
